Repository wolfenrain/multi_window: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dartdoc, flutter_analyze, pod_lint, swift_analyze

Path conditions:
  dartdoc: any of: ./**/*.dart, ./**/README.md, .gitlab-ci.yml
  flutter_analyze: any of: ./**/*.dart, ./**/test/**/*.dart, .gitlab-ci.yml
  pod_lint: any of: multi_window_macos/macos/**/*, .gitlab-ci.yml
  swift_analyze: any of: multi_window_macos/macos/**/*, .gitlab-ci.yml

[ci skip]
  multi_window/lib/multi_window.dart
  multi_window_interface/lib/multi_window_interface.dart
Due: none

Resolve "Set the title of window on creation"
  .gitlab-ci.yml
  multi_window/CHANGELOG.md
  multi_window/README.md
  multi_window/example/lib/main.dart
  multi_window/example/pubspec.lock
  multi_window/lib/multi_window.dart
  multi_window/pubspec.lock
  multi_window/pubspec.yaml
  multi_window_interface/CHANGELOG.md
  multi_window_interface/lib/multi_window_interface.dart
  multi_window_interface/lib/platform_not_implemented.dart
  multi_window_interface/pubspec.yaml
  multi_window_linux/CHANGELOG.md
  multi_window_linux/lib/multi_window_linux.dart
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_linux/pubspec.lock
  multi_window_linux/pubspec.yaml
  multi_window_macos/CHANGELOG.md
  multi_window_macos/lib/multi_window_macos.dart
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
  multi_window_macos/pubspec.lock
  multi_window_macos/pubspec.yaml
Due: dartdoc, flutter_analyze, pod_lint, swift_analyze

Initial windows support
  .vscode/c_cpp_properties.json
  multi_window/example/windows/.gitignore
  multi_window/example/windows/CMakeLists.txt
  multi_window/example/windows/flutter/CMakeLists.txt
  multi_window/example/windows/flutter/generated_plugin_registrant.cc
  multi_window/example/windows/flutter/generated_plugin_registrant.h
  multi_window/example/windows/flutter/generated_plugins.cmake
  multi_window/example/windows/runner/CMakeLists.txt
  multi_window/example/windows/runner/Runner.rc
  multi_window/example/windows/runner/flutter_window.cpp
  multi_window/example/windows/runner/flutter_window.h
  multi_window/example/windows/runner/main.cpp
  multi_window/example/windows/runner/resource.h
  multi_window/example/windows/runner/resources/app_icon.ico
  multi_window/example/windows/runner/run_loop.cpp
  multi_window/example/windows/runner/run_loop.h
  multi_window/example/windows/runner/runner.exe.manifest
  multi_window/example/windows/runner/utils.cpp
  multi_window/example/windows/runner/utils.h
  multi_window/example/windows/runner/win32_window.cpp
  multi_window/example/windows/runner/win32_window.h
  multi_window/pubspec.lock
  multi_window/pubspec.yaml
  multi_window_windows/.gitignore
  multi_window_windows/.metadata
  multi_window_windows/CHANGELOG.md
  multi_window_windows/LICENSE
  multi_window_windows/README.md
  multi_window_windows/lib/multi_window_windows.dart
  multi_window_windows/pubspec.lock
  multi_window_windows/pubspec.yaml
  multi_window_windows/windows/.gitignore
  multi_window_windows/windows/CMakeLists.txt
  multi_window_windows/windows/include/multi_window_windows/multi_window_windows_plugin.h
  multi_window_windows/windows/multi_window_windows_plugin.cpp
Due: none

Initial changes
  multi_window_windows/lib/multi_window_windows.dart
  multi_window_windows/pubspec.lock
  multi_window_windows/pubspec.yaml
  multi_window_windows/windows/multi_window_windows_plugin.cpp
Due: none

Implemented initial window alignment and closing for MacOS
  .vscode/settings.json
  multi_window/example/lib/main.dart
  multi_window/example/macos/Podfile.lock
  multi_window/example/pubspec.lock
  multi_window/lib/multi_window.dart
  multi_window/pubspec.lock
  multi_window/pubspec.yaml
  multi_window_interface/lib/multi_window_interface.dart
  multi_window_interface/lib/platform_not_implemented.dart
  multi_window_interface/pubspec.lock
  multi_window_linux/lib/multi_window_linux.dart
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_linux/pubspec.lock
  multi_window_linux/pubspec.yaml
  multi_window_macos/lib/multi_window_macos.dart
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
  multi_window_macos/pubspec.lock
  multi_window_macos/pubspec.yaml
Due: pod_lint, swift_analyze

Implementen alignment and closing for Linux
  multi_window/example/lib/main.dart
  multi_window/example/linux/flutter/generated_plugin_registrant.cc
  multi_window/example/linux/flutter/generated_plugin_registrant.h
  multi_window_linux/lib/multi_window_linux.dart
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
  tag.sh
Due: pod_lint, swift_analyze

Updat
  multi_window/README.md
  multi_window/example/README.md
  multi_window/example/macos/Runner/MainFlutterWindow.swift
  multi_window/pubspec.yaml
  multi_window_macos/macos/Classes/EventChannelListener.swift
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
Due: pod_lint, swift_analyze

Fix versions
  multi_window/example/pubspec.lock
  multi_window/pubspec.lock
  multi_window/pubspec.yaml
  multi_window_interface/pubspec.yaml
  multi_window_linux/pubspec.lock
  multi_window_linux/pubspec.yaml
  multi_window_macos/pubspec.lock
  multi_window_macos/pubspec.yaml
Due: none

Implement window alignment and closing
  .vscode/settings.json
  multi_window/README.md
  multi_window/example/README.md
  multi_window/example/lib/main.dart
  multi_window/example/linux/flutter/generated_plugin_registrant.cc
  multi_window/example/linux/flutter/generated_plugin_registrant.h
  multi_window/example/macos/Podfile.lock
  multi_window/example/macos/Runner/MainFlutterWindow.swift
  multi_window/example/pubspec.lock
  multi_window/lib/multi_window.dart
  multi_window/pubspec.lock
  multi_window/pubspec.yaml
  multi_window_interface/lib/multi_window_interface.dart
  multi_window_interface/lib/platform_not_implemented.dart
  multi_window_interface/pubspec.lock
  multi_window_interface/pubspec.yaml
  multi_window_linux/lib/multi_window_linux.dart
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_linux/pubspec.lock
  multi_window_linux/pubspec.yaml
  multi_window_macos/lib/multi_window_macos.dart
  multi_window_macos/macos/Classes/EventChannelListener.swift
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
  multi_window_macos/pubspec.lock
  multi_window_macos/pubspec.yaml
  tag.sh
Due: pod_lint, swift_analyze

Updated CHANGELOGs
  multi_window/CHANGELOG.md
  multi_window_interface/CHANGELOG.md
  multi_window_linux/CHANGELOG.md
  multi_window_macos/CHANGELOG.md
  tag.sh
Due: none

Shut down engine when corresponding window close
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
  multi_window_macos/macos/Classes/MultiWindowViewController.swift
Due: pod_lint, swift_analyze
