Repository wolfenrain/multi_window: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dartdoc, flutter_analyze, pod_lint, swift_analyze

.gitlab-ci.yml:

image: cirrusci/flutter:stable

stages:
  - lint
  - test
  - publish

.projects: &projects
  parallel:
    matrix:
      - PROJECT: multi_window
      - PROJECT: multi_window_interface
      - PROJECT: multi_window_linux
      - PROJECT: multi_window_macos

dartdoc:
  <<: *projects
  stage: lint
  script:
    - cd "${PROJECT}"
    - flutter pub get
    - pub global activate dartdoc
    - pub global run dartdoc:dartdoc --no-auto-include-dependencies --quiet
  only:
    refs:
      - merge_requests
      - master
    changes:
      - ./**/lib/**/*.dart
      - ./**/README.md
      - .gitlab-ci.yml

flutter_analyze:
  <<: *projects
  stage: lint
  script:
    - cd "${PROJECT}"
    - flutter pub get
    - flutter analyze --pub
    - flutter format -n --set-exit-if-changed .
  only:
    refs:
      - merge_requests
      - master
    changes:
      - ./**/lib/**/*.dart
      - ./**/test/**/*.dart
      - .gitlab-ci.yml

pod_lint:
  image: ruby:2.7-slim-buster
  stage: lint
  script:
    - cd multi_window_macos/macos || exit 1
    - apt-get update && apt-get install -y git curl unzip
    - gem install cocoapods -v 1.8.4
    - adduser --disabled-password --gecos "" cocoapods # Running as root is not allowed for CocoaPods
    - export RUBYOPT='-W0' # Disable ruby deprecation warnings
    - su cocoapods -c "pod lib lint --allow-warnings multi_window_macos.podspec"
  only:
    refs:
      - merge_requests
      - master
    changes:
      - multi_window_macos/macos/multi_window_macos.podspec
      - .gitlab-ci.yml

swift_analyze:
  image: norionomura/swiftlint:0.43.1_swift-5.4.0
  stage: lint
  script:
    - cd multi_window_macos/macos || exit 1
    - swiftlint --strict
  only:
    refs:
      - merge_requests
      - master
    changes:
      - multi_window_macos/macos/**/*.swift
      - .gitlab-ci.yml

# unit_test:
#   <<: *projects
#   stage: test
#   script:
#     - cd "${PROJECT}"
#     - flutter test --coverage --pub test
#     - lcov --list ./coverage/lcov.info
#   only:
#     refs:
#       - merge_requests
#       - master
#     changes:
#       - ./**/lib/**/*.dart
#       - ./**/test/**/*.dart
#       - .gitlab-ci.yml

Implemented few more features on macOS
  .gitlab-ci.yml
  README.md
  multi_window/README.md
  multi_window/example/lib/main.dart
  multi_window/example/macos/Runner/MainFlutterWindow.swift
  multi_window/lib/echo.dart
  multi_window/lib/multi_window.dart
  multi_window_interface/lib/data_event.dart
  multi_window_interface/lib/multi_window_interface.dart
  multi_window_interface/lib/platform_not_implemented.dart
  multi_window_linux/lib/multi_window_linux.dart
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_macos/lib/multi_window_macos.dart
  multi_window_macos/macos/.swiftlint.yml
  multi_window_macos/macos/Classes/EventChannelListener.swift
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
  multi_window_macos/macos/Classes/MultiWindowViewController.swift
Due: dartdoc, flutter_analyze, pod_lint, swift_analyze

Fixed linting issues on Swift
  multi_window/example/macos/Runner/MainFlutterWindow.swift
  multi_window_macos/macos/Classes/EventChannelListener.swift
  multi_window_macos/macos/Classes/MultiWindow.swift
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
  multi_window_macos/macos/Classes/MultiWindowViewController.swift
Due: swift_analyze

Updated linux code, broken build
  README.md
  multi_window_linux/lib/multi_window_linux.dart
  multi_window_linux/linux/CMakeLists.txt
  multi_window_linux/linux/event_channel_listener.cc
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_macos/macos/.swiftlint.yml
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
Due: swift_analyze

Fixed minor swift linting
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
Due: swift_analyze

Linux now works!
  .vscode/settings.json
  multi_window/example/lib/main.dart
  multi_window/example/linux/flutter/CMakeLists.txt
  multi_window/example/pubspec.lock
  multi_window/lib/multi_window.dart
  multi_window_linux/lib/multi_window_linux.dart
  multi_window_linux/linux/CMakeLists.txt
  multi_window_linux/linux/event_channel_listener.cc
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_linux/linux/utils.cc
  multi_window_linux/pubspec.lock
  multi_window_macos/macos/Classes/EventChannelListener.swift
Due: swift_analyze

Updated README
  README.md
Due: none

Added TODOs
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_macos/macos/Classes/MultiWindowViewController.swift
Due: swift_analyze

Update
  multi_window/example/lib/main.dart
  multi_window/lib/multi_window.dart
  multi_window_interface/lib/data_event.dart
  multi_window_interface/lib/multi_window_interface.dart
  multi_window_interface/lib/platform_not_implemented.dart
  multi_window_linux/lib/multi_window_linux.dart
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_macos/lib/multi_window_macos.dart
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
  multi_window_macos/macos/Classes/MultiWindowViewController.swift
Due: swift_analyze

Updated example
  multi_window/example/lib/main.dart
  multi_window/example/pubspec.lock
  multi_window/example/pubspec.yaml
  multi_window_linux/linux/multi_window_linux_plugin.cc
Due: none

Moved to a more C++ish pointer syntax
  multi_window_linux/linux/multi_window_linux_plugin.cc
Due: none

Fixed sizing issue for new screens on MacOS
  multi_window_macos/macos/Classes/MultiWindow.swift
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
  multi_window_macos/macos/Classes/MultiWindowViewController.swift
Due: swift_analyze

Improved some project related docs
  CONTRIBUTING.md
  README.md
  multi_window/README.md
Due: none

Worked on capturing close event
  multi_window/README.md
  multi_window_linux/linux/multi_window_linux_plugin.cc
Due: none

Made few API changes for macOS to be more in line with Linux
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_macos/macos/Classes/EventChannelListener.swift
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
Due: swift_analyze

MacOS: Reworked event system to be more dynamic, added size support
  CONTRIBUTING.md
  README.md
  multi_window/README.md
  multi_window/example/macos/Runner/MainFlutterWindow.swift
  multi_window/lib/multi_window.dart
  multi_window_interface/lib/multi_window_interface.dart
  multi_window_interface/lib/platform_not_implemented.dart
  multi_window_linux/lib/multi_window_linux.dart
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_macos/lib/multi_window_macos.dart
  multi_window_macos/macos/Classes/EventChannelListener.swift
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
  multi_window_macos/macos/Classes/MultiWindowViewController.swift
Due: swift_analyze

Added a multi widget helper
  multi_window/example/lib/main.dart
  multi_window/lib/multi_widget.dart
Due: none

Remove todo
  multi_window_macos/macos/Classes/MultiWindowViewController.swift
Due: swift_analyze

update dart code
  multi_window/example/lib/main.dart
  multi_window_interface/lib/data_event.dart
Due: none

Added LICENSEs
  multi_window/LICENSE
  multi_window_interface/LICENSE
  multi_window_linux/LICENSE
  multi_window_macos/LICENSE
Due: none

Added Linux cleanup and close event
  .vscode/settings.json
  README.md
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_linux/linux/utils.cc
Due: none

On any dart file
  .gitlab-ci.yml
Due: dartdoc, flutter_analyze, pod_lint, swift_analyze

Update
  multi_window/example/lib/main.dart
Due: none

Update CI/CD
  .gitlab-ci.yml
Due: dartdoc, flutter_analyze, pod_lint, swift_analyze

Added gitlab files
  .gitlab-ci.yml
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/feature.md
  .gitlab/merge_request_templates/merge_request.md
  multi_window_interface/lib/multi_window_interface.dart
Due: dartdoc, flutter_analyze, pod_lint, swift_analyze

Update
  .gitlab-ci.yml
  CONTRIBUTING.md
  LICENSE
  README.md
  multi_window/README.md
  multi_window/example/lib/main.dart
  multi_window/lib/echo.dart
  multi_window/lib/multi_widget.dart
  multi_window/lib/multi_window.dart
  multi_window/pubspec.yaml
  multi_window_interface/CHANGELOG.md
  multi_window_interface/lib/data_event.dart
  multi_window_interface/pubspec.lock
  multi_window_interface/pubspec.yaml
  multi_window_linux/CHANGELOG.md
  multi_window_linux/lib/multi_window_linux.dart
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_linux/pubspec.yaml
  multi_window_macos/CHANGELOG.md
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
  multi_window_macos/pubspec.lock
  multi_window_macos/pubspec.yaml
Due: dartdoc, flutter_analyze, pod_lint, swift_analyze

Update
  .gitlab-ci.yml
Due: dartdoc, flutter_analyze, pod_lint, swift_analyze

Fixed Swift code
  multi_window_macos/macos/Classes/EventChannelListener.swift
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
  multi_window_macos/macos/Classes/MultiWindowViewController.swift
Due: swift_analyze

Ready up for release
  .gitlab-ci.yml
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/feature.md
  .gitlab/merge_request_templates/merge_request.md
  CONTRIBUTING.md
  LICENSE
  README.md
  multi_window/README.md
  multi_window/example/lib/main.dart
  multi_window/lib/echo.dart
  multi_window/lib/multi_widget.dart
  multi_window/lib/multi_window.dart
  multi_window/pubspec.yaml
  multi_window_interface/CHANGELOG.md
  multi_window_interface/lib/data_event.dart
  multi_window_interface/lib/multi_window_interface.dart
  multi_window_interface/pubspec.lock
  multi_window_interface/pubspec.yaml
  multi_window_linux/CHANGELOG.md
  multi_window_linux/lib/multi_window_linux.dart
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_linux/pubspec.yaml
  multi_window_macos/CHANGELOG.md
  multi_window_macos/macos/Classes/EventChannelListener.swift
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
  multi_window_macos/macos/Classes/MultiWindowViewController.swift
  multi_window_macos/pubspec.lock
  multi_window_macos/pubspec.yaml
Due: dartdoc, flutter_analyze, pod_lint, swift_analyze

Fixed constraint
  multi_window/example/pubspec.lock
  multi_window/pubspec.lock
  multi_window/pubspec.yaml
  multi_window_linux/pubspec.lock
  multi_window_macos/pubspec.lock
Due: none

Updated
  multi_window/CHANGELOG.md
  multi_window/pubspec.yaml
Due: none

Fixed constraint
  multi_window/CHANGELOG.md
  multi_window/example/pubspec.lock
  multi_window/pubspec.lock
  multi_window/pubspec.yaml
  multi_window_linux/pubspec.lock
  multi_window_macos/pubspec.lock
Due: none

Fixed size bug
  multi_window_linux/CHANGELOG.md
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_linux/pubspec.yaml
Due: none

Ready for release
  multi_window/CHANGELOG.md
  multi_window/example/pubspec.lock
  multi_window/pubspec.lock
  multi_window/pubspec.yaml
Due: none

Updated MultiWidget
  multi_window/CHANGELOG.md
  multi_window/example/pubspec.lock
  multi_window/lib/multi_widget.dart
  multi_window/pubspec.yaml
Due: none

Resolve "Size of window is non-existing when creating a new window on Linux"
  multi_window/CHANGELOG.md
  multi_window/example/pubspec.lock
  multi_window/lib/multi_widget.dart
  multi_window/pubspec.lock
  multi_window/pubspec.yaml
Due: none

MacOS test works
  multi_window/example/lib/main.dart
  multi_window/example/pubspec.lock
  multi_window/lib/multi_window.dart
  multi_window/pubspec.lock
  multi_window/pubspec.yaml
  multi_window_interface/lib/multi_window_interface.dart
  multi_window_interface/lib/platform_not_implemented.dart
  multi_window_linux/lib/multi_window_linux.dart
  multi_window_linux/linux/multi_window_linux_plugin.cc
  multi_window_linux/pubspec.lock
  multi_window_linux/pubspec.yaml
  multi_window_macos/lib/multi_window_macos.dart
  multi_window_macos/macos/Classes/MultiWindowMacosPlugin.swift
  multi_window_macos/pubspec.lock
  multi_window_macos/pubspec.yaml
Due: swift_analyze

[ci skip]
  .gitlab-ci.yml
  multi_window/CHANGELOG.md
  multi_window/README.md
  multi_window/pubspec.yaml
  multi_window_interface/CHANGELOG.md
  multi_window_interface/pubspec.yaml
  multi_window_linux/CHANGELOG.md
  multi_window_linux/pubspec.yaml
  multi_window_macos/CHANGELOG.md
  multi_window_macos/pubspec.yaml
Due: dartdoc, flutter_analyze, pod_lint, swift_analyze
